﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!--
		Copyright © 2010 Phil Booth

		This file is part of VisualSO.

		VisualSO is free software: you can redistribute it and/or modify
		it under the terms of the GNU General Public License as published
		by the Free Software Foundation, either version 3 of the License,
		or (at your option) any later version.

		VisualSO is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
		General Public License for more details.

		You should have received a copy of the GNU General Public License
		along with VisualSO.  If not, see <http://www.gnu.org/licenses/>.
	-->
	<head>
		<title>Visual SO View</title>

		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

		<base href="{0:%s}" />

		<link href="View.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript">
			// <![CDATA[
			var VisualSO = (function() {{{{
				var self = this;
				self.openExternal = function(url) {{{{
					alert('opening ' + url);
					window.external.Open(url);
				}}}};
				self.onClickLogo = function() {{{{
					self.openExternal('http://stackoverflow.com/');
				}}}};
				return self;
			}}}})();
			// ]]>
		</script>
	</head>

	<body>
		<div id="view">
			<div id="header">
				<div id="logo" onclick="VisualSO.onClickLogo();" class="clickable"></div>
			</div>
			<div class="body">
				{{0:%s}}
			</div>
			<div class="footer">
			</div>
		</div>
	</body>
</html>
